---
layout: page
title: Blog
background: Hypercubeteal
background-align: bg-shape-center
---

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for post1 in site.posts %}
      {% include post1.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->

{% for post1 in site.posts %}
<section class="section">
  <div class="container">
    <div class="row mb-5">
<article>
  <h3 class="font-tertiary">
    <a href="{{ post1.url }}">
      {{ post1.title }}
    </a>
  </h3>
  <time datetime="{{ post1.date | date: "%Y-%m-%d" }}">{{ post1.date | date: "%Y-%m-%d" }}</time>
</div><div class="row">
  {{ post1.content }}
</div>
</article>

</div>
</section>
<hr/>
{% endfor %}
