---
layout: page
title: Writing
background: Hypercubeteal
background-align: bg-shape-center
---

<section class="section">
  <div class="container">
    <div class="row mb-5"><div class="col-12">
      <h3>Fiction, poetry, creative nonfiction, and music.</h3></div>
    </div>

<div class="row shuffle-wrapper">
  {% for item in site.data.settings.writing-items %}
  <div class="col-12 shuffle-item" data-words="{{ item.words }}" data-date="{{ item.date }}"
  data-groups="[{% for piece in item.item-types %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ piece.type }}&quot;{% endfor %}]">

    <div data-date-created={{ item.date }} class="position-relative rounded" style="margin-bottom:40px;">
      {% if item.link %}
      <a href={{ item.link }} target="_blank"> 
      {% endif %}
      <h4><b>{{ item.name }} </b>&nbsp;&nbsp;<span class="text-muted">{{ item.publisher }}</span>
        {% if item.link %}
      </a>
        {% endif %}
        &nbsp;&nbsp;<span class="badge badge-secondary text-capitalize">{{ item.item-types[0].type }}</span>
        <span class="badge badge-secondary">{{ item.date | date: "%Y %b" }}</span>
        <span class="badge badge-secondary">{{ item.words }} words</span>
      </h4>
      
     
      <!-- TODO <p class="paragraph-md">{{ item.blurb }}</p> -->
      <p class="paragraph-md">
      <em>{{ item.quote }}</em></p>


      {% if item.notes %}
      <ul>
        {% for note in item.notes %}
        <li>{{note | markdownify | remove: '<p>'| remove: '</p>' }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="hover-overlay">
        <div class="hover-content">
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


</section>
