<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>

         <p class="font-secondary paragraph-lg text-dark">Hello! I’m Abby, a writer, composer, & occasional artist and coder.</p>
        <p class="font-secondary paragraph-lg text-dark">
         During my computer science degree, I whiled away my breaks by writing my first science fiction story. Then, in 2017, I changed my major to creative writing. My CW 100 scifi story was eventually published in <a href="highlights/#clarkesworld">Clarkesworld</a> in October 2024, after many revisions, 7 years later.   
        <p class="font-secondary paragraph-lg text-dark">
          I'd also played piano for as long as I could remember. In 2019, the pandemic hit and I started composing my own songs, now with string instruments.
          </p>
        <p class="font-secondary paragraph-lg text-dark">
          Peruse my website to know more about me and my work.
          </p>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
