<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <p class="font-secondary paragraph-lg text-dark">
         I'd played piano for as long as I could remember. Then, in the middle of debugging a program for a requirement in my computer science degree, I whiled away my breaks by writing my first science fiction story about AI. I changed my major to creative writing and my 2017 CW 100 scifi story was eventually published in Clarkesworld in October 2024, after many revisions, 7 years later.   
          I also wrote poetry<span class='footnote' data-toggle="tooltip"
          title="mostly confessional"></span>and nonfiction.</p>
        </p>
        <p class="font-secondary paragraph-lg text-dark">
          Peruse my website to know more about me and my work.
          </p>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
