---
exclude: true
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  padding: 50px;
  font: 16px/1.5 "Crimson Text";
  color: #595959;
  font-weight: 400; }

  section{
  width: 600px;
  }

pre{
  font: 16px/1.5 "Crimson Text";
}

.portfolio{
  width: 20vw;
}
.portfolio:hover {
  transform: scale(1.5);
}



@media print, screen and (max-width: 960px) {
  header{
    padding: 0;
    width: 90%;
  }
    .menuitem{
        /*float: left;*/
    }
    #divider{
        clear: both;
        padding: 20px;
    }
    #logo{
        text-align: center;
        text-decoration: none;
    }
#menu {
    width: 100%;
    text-align: center;
}
.menuitem {
    /*width: 10px;*/
    display: inline-block;
    vertical-align: top;
    padding: 0 10px 0 10px;
}
#menu:after {
    content: "";
    width: 100%;
    display: inline-block;
}

}

.menuitem{
  font-family: 'Dosis', "Helvetica Neue", Helvetica, sans-serif;
  font-weight:400;
}

.menuitem > a{
    text-decoration: none;
}

@for $index from 1 through 6 {
  h#{$index}{
    font-family: 'Dosis', "Helvetica Neue", Helvetica, sans-serif;
  }
}



#logo{
    text-decoration: none;
}

h2{
  font-weight: 500;
}


h1 a{
	color: #222;
}

a{
	color: #222;
    text-decoration: underline;
}



.theorem {
    display: block;
    margin: 12px 0;
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
}
.theorem:before {
	counter-increment: thm;
    content: "Theorem " counter(thm) ". ";
    font-weight: bold;
    font-style: normal;
}
.lemma {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.lemma:before {
    content: "Lemma.";
    font-weight: bold;
    font-style: normal;
}
.proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.proof:before {
    content: "Proof.";
    font-style: italic;
}
.proof:after {
    content: "\25FC";
    float:right;
}
.definition {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.definition:before {
    content: "Definition.";
    font-weight: bold;
    font-style: normal;
}


#timeline {
  list-style: none;
  margin: 0px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #eee9dc;
}
#timeline li {
/*min-height:80px;*/
  margin: 0;
  position: relative;
}


.title{
    font-size: 1.1em;
}

.date, .wc, .color {
  margin-top: -10px;
  top: 50%;
  left: -175px;
  width: 120px;
  text-align: right;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}



.wc, .color{
  visibility: hidden;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  background: #000;
  border: 5px solid #eee9dc;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  /*top: 5px;*/
  /*padding: 20px 10px 20px 0;*/
  padding-left: 6px;
  padding-right: 60px;
  left: -5px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 0.5em;
  position: relative;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-right-color: #fff;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  margin: 0;
  font-size: 0.8em;
  visibility: hidden;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
  padding-right: 40px;
}

.content a{
  text-decoration: none;
}

label {
padding: 0 5px;
  /*font-size: 1.1em;
  position: absolute;
  z-index: 100;
  margin: 30px 10px 0 0;*/
 /*transition: transform 0.2s linear;*/
 cursor: pointer;
 border-radius: 5px;
}

input[type="radio"]:checked+label {
  background-color: #000;
  color: #fff;
  }

.radio {
  display: none;
}

.relative:hover + .relative label {
  cursor: auto;

}
.radio + .relative .circle {
  background: #000;
}
.content:hover {
  border-color: #eee9dc;
}

.content:hover p {
  max-height: 380px;
  visibility: visible;
}


/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 720px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  iframe {
    width: auto;
    height: 1200;
    display: block;
    margin: auto;
  }
  #timeline li {
    margin: 5px 0;
  }

footer{
  text-align: center;
}

body {
  width:90%;
}


section {
  width:auto;
}
  .content {
    padding-top: 0px;
    border-color: #eee9dc;
  }

.content:before, .content:after {
  width: 0;
  height: 0;
  border: none;
}


  .circle, .date, .color, .wc{
    display: none;
  }
}




/* gallery */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 80%;
  }
  footer{
    text-align: center;
  }
}

.work img {
  float:right;
  padding-right:10px;
  height:68px;
  visibility:visible;
}

.icon {
  position: absolute;
  right: 2%;
  z-index:100;
  top: 50%;
  transform: translateY(-50%);
  height:90%;
  width:50px;
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
}

li:hover > .icon {
  transform: scale(2) translateY(-25%);
  z-index: 200;
}


/* index page stuff */

.img-left{
  height: 100px;
  float:left;
  margin-right:20px;
}

.img-right{
  height: 100px;
  float: right;
  margin-left:20px;
}

.word{
  margin-top: 0.2vw;
  height:150px;
}
