---
layout: default
---

<!-- page title -->
<section class="page-title bg-primary position-relative" style="overflow: hidden;">
  <div class="container" >
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white text-outline font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
{% if page.background %}
  <img src="{{ site.baseurl }}/assets/images/illustrations/{{ page.background }}.jpg" class="bg-shape-1 {{ page.background-align }} h-100">
{% endif %}
</section>
<!-- /page title -->

{{ content }}
