---
layout: default
---


<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <h2 class="font-tertiary">{{ posts.title | escape }}</h2>
        <p class="font-tertiary">Published on {{ posts.date | date: '%b %d, %Y' }} in {% for tag in posts.tags %}<span>{{ tag }}</span>{% endfor %}.</p>
      </div>
      </div><div class="row">
        <div class="col-lg-12">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

{% if site.data.settings.disqus-identifier %} {% include disqus-comments.html %} {% endif %}

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Similar Posts</h3>
      </div>
      {% for post in site.posts offset:0 limit:3 %}
      {% include post %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->
