---
layout: default
comments: true
disqus: true
---

<!-- page title -->
<section class="page-title-alt bg-primary position-relative" style="overflow: hidden;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white text-outline font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/Hypercubeteal.PNG" class="bg-shape-1 h-100">
</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="font-tertiary">Published on {{ page.date | date: '%b %d, %Y' }} by <a href="https://abbynicoleyee.github.io/website/about">Abby Nicole Yee</a></p>
        <div class="content">
          <img src="{{page.image | relative_url }}" class="img-fluid rounded float-left mr-5 mb-4" alt="{{page.title}}">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>


{% include disqus.html %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <article>
        <div class="comments">        
<script>
    
    var disqus_config = function () {
        this.page.url = '{{ site.page.url | absolute_url }}';
        this.page.identifier = '{{ site.page.url | relative_url }}';

    };
    
    
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
                s.src = 'https://abbynicoleyee-github-io-website.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>  
        {{ comments }}
        </div>
        </article>
  
      </div>
    </div>
  </div>
</section>

  <script src="https://utteranc.es/client.js"
        repo="abbynicoleyee/website"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Similar Stories</h2>
      </div>
      {% for post in site.posts offset:0 limit:3 %}
      {% include post.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->
